@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <ul class="col">
            <li>
                <a asp-page="/AddAndDelete">Add and delete</a>
            </li>
            <li>
                <a asp-page="/Checkbox">Checkbox</a>
            </li>
        </ul>
    </div>
</div>
